@import "tailwindcss";

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --background: #0f172a;
  --sidebar-bg: #0d1742;
  --foreground: #e5e7eb;
  --border: #233554;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --sidebar-bg: #0d1742;
    --foreground: #e5e7eb;
    --border: #233554;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.4s ease-in-out;
}
